@media screen and (min-width: 768px) {
  .hvr-underline-from-center {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;
    &:before {
      content: "";
      position: absolute;
      z-index: -1;
      left: 51%;
      right: 51%;
      bottom: 0;
      background: black;
      height: 1px;
      -webkit-transition-property: left, right;
      transition-property: left, right;
      -webkit-transition-duration: 0.3s;
      transition-duration: 0.3s;
      -webkit-transition-timing-function: ease-out;
      transition-timing-function: ease-out;
    }
    &:hover {
      &:before {
        left: 0;
        right: 0;
      }
    }
    &:focus {
      &:before {
        left: 0;
        right: 0;
      }
    }
    &:active {
      &:before {
        left: 0;
        right: 0;
      }
    }
  }
}
